{% extends 'base.html' %}

{% block content %}
<h1>All Posts</h1>

<a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>

<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
        <!-- Optional buttons -->
        <a href="{% url 'post-update' post.pk %}">Edit</a>
        <a href="{% url 'post-delete' post.pk %}">Delete</a>
    </li>
    {% empty %}
    <li>No posts available.</li>
    {% endfor %}
</ul>
{% endblock %}
